<html>
<head>
<link rel='stylesheet' href='/stylesheets/loginstyle.css' />
  <script src="login.js"></script>
  </head>
  <body>
    <div class="loggy">
<h1 class="header">Date Downtown Scanner</h1>
<hr>
<h2 class="enter">Enter Password to continue </h2>

<br>
<input type="text" id="passwordinp" class="password">
<br>
<button type="submit" onclick="verify()" class="btn" >Login</button>
</div>
<div class="footer">
  <p> Copyright 2019 Date Downtown</p>
  </div>

    </body>
    </html>
